* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma,sans-serif;
}
.containersmall {
  margin-left: 170px;
  margin-right: 170px;
}
.debug {
  border: 1px solid black;
  min-height: 50px;
}
.logo {
  height: 12.2px;
  vertical-align: middle;
}
.height64 {
  height: 64px;
  line-height: 64px;
}

.height340 {
  height: 340px;
}

.height630 {
  height: 630px;
}

.margin32v {
  margin: 31px 0px;
}

.margin124o {
  margin: 0px 124px;
}

.text-center {
  text-align: center;
}
.menubar {
  float: left;
  padding-right: 1.35%;
  padding-left: 1.35%;
}
.herobg {
  background-image: url("img/hero-bg.jpg");
  height: 554px;
}

.indexbg {
  height: 500px;
  background-image: url("img/indexbanner.jpg");
}

.greybg {
  background-color: #FAFAFA;
  border: 16px solid white;
  padding-top: 6rem;
  padding-bottom: 2rem;
  padding-left: 15px;
  padding-right: 15px;
}
